---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="title" content="Hello, I'm B1uq!">
		<meta name="description" content="This is my website about me." />
		<meta property="og:title" content="Hello, I'm B1uq!">
		<meta property="og:description" content="This is my website about me." />
		<meta property="og:image" content="/logo.jpg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpg" href="/logo.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[#010101]">
		<slot />
	</body>
</html>